<h2>Pins <a href="/pins/new">(+)</a></h2>

<ul>

 <% @pins.each do |pin| %>
   <div class = "board">
     <%= "#{pin.title}" %>
     <%= image_tag "#{pin.image_url}", class: "pin-pictures"%>
     <%= link_to "edit", pin_path(pin) %>
    </div>
 <% end %>

</ul>
